/* style.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212121; /* Updated background color */
}

/* Header styles */
header {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header p {
  margin-top: 5px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main content styles */
.about,
.projects,
.contact {
  padding: 50px;
  background-color: #212121; /* Updated background color */
  color: #CCCCCC; /* Light grey text color */
  text-align: center; /* Center the content */
}

.about h2,
.projects h2,
.contact h2 {
  text-align: center;
}

.about .about-text,
.about .skills,
.projects .project,
.contact form {
  flex: 1; /* Take up equal space */
  padding: 0 20px; /* Add padding for better spacing */
}

.about .about-text {
  color: #CCCCCC; /* Set text color to match the rest */
  padding: 50px; /* Add padding to match other sections */
}

.about img {
  width: 25%; /* Set the width of the image to 25% of the screen */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto 20px; /* Center the image horizontally and add some bottom margin */
}


.skills ul {
  padding-left: 20px; /* Add padding for better spacing */
  margin-top: 0; /* Reset margin for UL */
}

.skills ul li {
  color: #CCCCCC; /* Same color as text */
}

.skills {
  text-align: center; /* Center the content */
}

.skill {
  display: inline-block;
  margin: 20px;
}

.skill img {
  width: 100px; /* Adjust image size as needed */
  height: auto;
  margin-bottom: 10px;
}

.skill p {
  color: #CCCCCC; /* Same color as text */
  margin: 0;
}


.projects .project {
  margin-bottom: 30px;
}

.projects .project h3 {
  margin-top: 0;
}

.projects .project a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.projects .project a:hover {
  text-decoration: underline;
}

.contact form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
